body {
    background-image: url(Back.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: black;
    background-size: auto;
    overflow-x: hidden;
}
 .parent {
    background-color: rgba(28, 28, 92, 0.731);
    display: grid ;
    width: 75%;
    height: 500px;
    position: absolute;
    transform: translate(200px, 75px);
    z-index: -1;
    opacity: 0.5;
 }
 p {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-family: comic sans ms;
    font-weight: bold;
 }
.child1{
    margin-top: 50px;
    margin-left: 50px;
}
 input {
    
    border-radius: 10px;
 }
 #txt {
    border: 1px solid white;
    background: transparent;
    height:45px;
    width:200px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    font-family: comic sans ms;
    text-align: center;
    font-size: 15px;

 }

 ::placeholder{
    color: white;
 }
 #submit {
    height:30px;
    width:75px;
    background-color: rgb(255, 213, 0);
    color: black;
    font-family: comic sans ms;
    font-weight: bolder;
    text-align: center;
    font-size: 12px;
    margin-left: 30px;
    cursor: pointer;
    
 }
 #submit:hover{
    background-color: rgb(255, 238, 0);
    height:45px;
    width:85px;

 }


 .child21, .child22, .child23, .child31, .child32, .child33{

                    margin-left: 50px;                
                    display: inline-block;
 }

.main , .secondary {
    display: inline-block;
    height:35px;
    width:200px;
    border: 1px solid black;
    position: relative;
    transform: translate(350px, 100px);
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px; 
    font-family: comic sans ms;
    font-weight: bold; 

}
.secondary:hover{
    background-color: rgba(116, 183, 180, 0.698);
}

.main {
    background-color: goldenrod;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
    font-family: comic sans ms;
    
}
.footer{
    height: 50px;
    width: 100%;
    position: fixed;
    text-align: left;
    bottom: 0;
    left: 0;
}